.InventoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5%;
}
/*
.card {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vh;
}
*/

h5 {
  color: #84fff2;
}

h6 {
  color: #2ec4b6;
}

.crunk {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  background: #343a40;
  border: 4px solid #fff;
  border-radius: 20px;
  box-shadow: 0px 20px 50px rgba(34, 35, 58, 1);
  max-width: 1000px;
}

.InventoryContainer Button {
  margin-right: 10px;
}

.inventory-button-group {
}

.inventory-picture {
  width: 100px;
  height: 100px;
}

.left-column {
  width: 65%;
  position: relative;
  margin-right: 1rem;
}

.right-column {
  width: 50%;
  margin-top: 30px;
}

@media (max-width: 400px) {
  .inventory-button-group {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
  }
  .inventory-button-group button {
    margin-top: 10px;
  }
  .InventoryContainer Button {
    margin-right: 0px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
