* {
  padding: 0;
  margin: 0;
}
.Carousel {
  height: 65vh;
  width: 100vh;
  background-color: #ff8e32;
  color: #84fff2;
}
p,
h1 {
  font-weight: bold;
  color: #2d001e;
}

.App {
  height: 100vh;
  background: #02394a;
  overflow: auto;
}
.side {
  height: 400; /* Full-height: remove this if you want "auto" height */
  width: 220px; /* Set the width of the sidebar */
  position: relative; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */ /* Stay at the top */
  left: 0;

  border-radius: 5px;
  border-style: solid;
  border-color: white;
  background-color: #343a40; /* Black */
  overflow-x: hidden;
  margin: 20px 0px 0px 10px; /* Disable horizontal scroll */
}

.sideButton {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #84fff2;
  display: block;
  background: none;
  border: none;
}

.title {
  padding: 6px 16px 6px 16px;
  text-decoration: none;

  font-size: 30px;
  color: #ff8e32;
  display: block;
  background: none;
  border-bottom: 1px solid rgb(225, 232, 238);

  margin-left: 15px;
  margin-right: 15px;
}
