* {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  background: #02394a;
  overflow: auto;
}
.side {
  /* height: auto; /* Full-height: remove this if you want "auto" height */

  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px; /* Set the width of the sidebar */
  margin-bottom: 10px;
  /*position: relative;*/ /* Fixed Sidebar (stay in place on scroll) */
  /*z-index: 1; /* Stay on top */ /* Stay at the top */
  /*left: 0;*/
  flex-direction: column;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  background-color: #343a40; /* Black */
  /*overflow-x: hidden;*/
  /* Disable horizontal scroll */
}

.sideButton {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #84fff2;
  display: row;
  background: none;
  border: none;
}

.title {
  padding: 6px 16px 6px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  color: #ff8e32;
  display: block;
  background: none;
  border-bottom: 1px solid rgb(225, 232, 238);

  margin-left: 15px;
  margin-right: 15px;
}
.jumbo {
  text-align: center;
  height: 50vh;
  background-color: #02394a;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.jumbotext {
  vertical-align: bottom;
  bottom: 0;
  color: #000;
}
.item {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  color: white;
  background-color: #343a40;
  text-align: center;
}
.itemTitle {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  background-color: #343a40;
  text-align: center;
  display: block;
  background: none;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #ff8e32;
  border-bottom: 1px solid rgb(225, 232, 238);
}
.c {
  display: flex;
  justify-content: space-around;
}

.cards {
  width: 400px;
  height: auto;
  background-color: #02394a;
  border-color: white;
  margin-bottom: 10px;
  border-style: solid;
}
.body {
  horizontal-align: left;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
