.leaflet-container {
  width: 100wh;
  height: 100vh;
}

.coords-pane {
  height: 75px;
  width: 200px;
  margin-right: 10px;
  margin-top: 10px;
}

.ccontainer {
  height: calc(100vh - 59px);
  overflow: hidden;
}
