.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.text-item {
  color: black;
}

.Pager {
  border: solid rgba(0, 0, 0, 0.8);
}

.bitch {
  border: solid rgba(0, 0, 0, 0.8);
}
