* {
  padding: 0;
  margin: 0;
}

html{

  background: #678581;
  background-size: 100%;
  width:100%;
  height:100%;
  overflow: auto;
}

.App{
  background: #678581;
  background-size: 100%;
  width:100%;
  height:100%;
  overflow: auto;

}
